.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
    z-index: 1000;
}

.navList {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navItem {
    font-size: 1.1rem;
}

.navItem a {
    text-decoration: none;
    color: #18526d;
    margin: 0 2rem;
}

.navItem a:hover {
    text-decoration: underline;
}

/* hamburger menu hidden by default */
.hamburger {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
   /*.container {*/
   /*     margin-top: 5rem;*/
   /* }*/
    .navBar {
        justify-content: space-between;
    }
    .hamburger {
        display: block;
        width: 2em;
        height: 2em;
    }

    .navList {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f8f9fa;
        position: absolute;
        top: 3rem;
        left: 0;
        border: 1px solid #dee2e6;
    }

    .navList.open {
        display: flex;
    }

    .navItem {
        margin: 0.5rem 0;
    }

    .navItem a {
        margin: 0;
        padding: 0.5rem 1rem;
    }
}