.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    width: 48px;
    height: 48px;
    margin-right: 1rem;
    margin-bottom: 0.5em;
}
.sortButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
    width: 100%;
}
button {
    background-color: #98fafa;
    font-size: 0.9rem;
}