.submitButton {
  margin-left: 0.7em;
  padding: 0.6em 1.6em;
  outline: none;
  background: #98fafa;
  border: none;
  color: #18526d;
  font-size: 1.05em;
  cursor: pointer;
  transition: background-color 0.3s;
  border-right: 3px solid rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.submitButton:hover {
  color: #e1ffff;
  background-color: #18526d;
  border-right: 3px solid rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}
